.toggle-setting {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .toggle-text {
    color: #272829;
  }
  .switch {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 5px #313233;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .label-setting {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .label-text {
    color: #3c3c3c;
    text-align: center;
  }
  
  input#tab-cloak {
    text-align: center;
  }
  
  #icn-change {
    text-align: center;
  }
  
  .settings-btn {
    background-color: #303643;
    color: #e2e2e2;
    width: 200px;
  }
  
  .rounding {
    border-radius: 10px;
  }
  
  .no-bdr {
    border: none;
  }
  
  .btn-break {
    height: 3px;
  }
  
  .btn-break-large {
    height: 10px;
  }
  
  .additional-notes-text {
    color: #252525;
    text-align: center;
  }
  
  .reset-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .popular-cloaks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .popular-cloaks-header {
    color: #282828;
  }
  
  .theme-toggle-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
  }
  #themes {
    height: 20px;
  }
  .caret-icn {
    margin-left: 60px;
    z-index: 100;
  }
  .item-wrapper {
    height: 0px;
    background-color: #303643;
    transition: 250ms ease-in-out;
  }
  .item {
    margin-bottom: 20px;
    display: none;
    height: 40px;
    opacity: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 250ms ease-in-out;
  }
  .item:hover {
    background-color: #2c3038;
  }