<div id="top-bar">
    <div class="top-bar-left">
      <img id="proxied-favicon" alt="favicon" />
      <span id="url-text"></span>
    </div>
    <div class="top-bar-right">
      <div class="nav-container">
        <img width="32px" height="32px" id="nav-backwards" src="/img/nav/backwards.svg" alt="Backward" />
        <img width="32px" height="32px" id="nav-forwards" src="/img/nav/forwards.svg" alt="Forward" />
        <img width="26px" height="28px" id="nav-reload" src="/img/nav/reload.svg" alt="Reload Page" />
        <img width="25px" height="26px" id="nav-share" src="/img/nav/share.svg" alt="Share Page" />
        <img width="30px" height="30px" id="nav-close" src="/img/nav/close.svg" alt="Close Page" />
      </div>
    </div>
  </div>