[data-theme="synthwave84"] {
  --background-color: #2a203a;
  --background-highlight: #2e2342;
  --accent-color: #1e1629;
  --accent-color-brighter: #3e2e53;
  --text-color: #c0bdc4;
  --text-color-accent: #dddddd;
  --dropdown-background-color: #231a30;
}