---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import GameItem from "../components/GameItem.astro";
---

<Layout title="Games | Alu">
    <h1 class="title-text">Games</h1>
        <div class="grid">
            <GameItem name="1v1.lol" image="/games/1v1.lol/logo.png"></GameItem>
            <GameItem name="2048" image="/games/2048/logo.png"></GameItem>
            <GameItem name="The Backrooms" image="/games/backrooms/logo.png" slugName="backrooms"></GameItem>
            <GameItem name="Baldi's Basics" image="/games/baldi/logo.png" slugName="baldi"></GameItem>
            <GameItem name="Cannon Basketball 4" image="/games/cannon-basketball-4/logo.png" slugName="cannon-basketball-4"></GameItem>
            <GameItem name="Cell Machine" image="/games/cell-machine/logo.png" slugName="cell-machine"></GameItem>
            <GameItem name="Chrome Dino" image="/games/chrome-dino/logo.png" slugName="chrome-dino"></GameItem>
            <GameItem name="Cookie Clicker" image="/games/cookie-clicker/logo.png" slugName="cookie-clicker"></GameItem>
            <GameItem name="CSGO Clicker" image="/games/csgo-clicker/logo.png" slugName="csgo-clicker"></GameItem>
            <GameItem name="Cut The Rope" image="/games/ctr/logo.png" slugName="ctr"></GameItem>
            <GameItem name="Cut The Rope - Holiday" image="/games/ctr-holiday/logo.png" slugName="ctr-holiday"></GameItem>
            <GameItem name="Cut The Rope - Time Travel" image="/games/ctr-tr/logo.png" slugName="ctr-tr"></GameItem>
            <GameItem name="Death Run 3D" image="/games/death-run-3d/logo.png" slugName="death-run-3d"></GameItem>
            <GameItem name="Doge Miner" image="/games/doge-miner/logo.png" slugName="doge-miner"></GameItem>
            <GameItem name="Doodle Jump" image="/games/doodle-jump/logo.png" slugName="doodle-jump"></GameItem>
            <GameItem name="doom" image="/games/doom/logo.png" slugName="doom"></GameItem>
            <GameItem name="Draw The Hill" image="/games/draw-the-hill/logo.png" slugName="draw-the-hill"></GameItem>
            <GameItem name="Evil Glitch" image="/games/evil-glitch/logo.png" slugName="evil-glitch"></GameItem>
            <GameItem name="Fall Boys" image="/games/fall-boys/logo.png" slugName="fall-boys"></GameItem>
            <GameItem name="Fireboy and Watergirl" image="/games/firewater/logo.png" slugName="firewater"></GameItem>
            <GameItem name="Fireboy and Watergirl 2" image="/games/firewater2/logo.png" slugName="firewater2"></GameItem>
            <GameItem name="Five Nights at Freddy's" image="/games/fnaf/logo.png" slugName="fnaf"></GameItem>
            <GameItem name="Five Nights at Freddy's 2" image="/games/fnaf2/logo.png" slugName="fnaf2"></GameItem>
            <GameItem name="Five Nights at Freddy's 3" image="/games/fnaf3/logo.png" slugName="fnaf3"></GameItem>
            <GameItem name="Five Nights at Freddy's 4" image="/games/fnaf4/logo.png" slugName="fnaf4"></GameItem>
            <GameItem name="Game Inside" image="/games/game-inside/logo.png" slugName="game-inside"></GameItem>
            <GameItem name="Google Snake" image="/games/google-snake/logo.png" slugName="google-snake"></GameItem>
            <GameItem name="Grindcraft" image="/games/grindcraft/logo.png" slugName="grindcraft"></GameItem>
            <GameItem name="Idle Breakout" image="/games/idle-breakout/logo.png" slugName="idle-breakout"></GameItem>
            <GameItem name="Just One Boss" image="/games/just-one-boss/logo.png" slugName="just-one-boss"></GameItem>
            <GameItem name="Line Rider" image="/games/line-rider/logo.png" slugName="line-rider"></GameItem>
            <GameItem name="Minecraft Classic" image="/games/minecraft-classic/logo.png" slugName="minecraft-classic"></GameItem>
            <GameItem name="Minesweeper" image="/games/minesweeper/logo.png" slugName="minesweeper"></GameItem>
            <GameItem name="Moto X3M" image="/games/moto-x3m/logo.png" slugName="moto-x3m"></GameItem>
            <GameItem name="Moto X3M Pool Party" image="/games/moto-x3m-pool/logo.png" slugName="moto-x3m-pool"></GameItem>
            <GameItem name="Moto X3M Spooky Land" image="/games/moto-x3m-spooky/logo.png" slugName="moto-x3m-spooky"></GameItem>
            <GameItem name="Moto X3M Winter" image="/games/moto-x3m-winter/logo.png" slugName="moto-x3m-winter"></GameItem>
            <GameItem name="osu!" image="/games/osu/logo.png" slugName="osu"></GameItem>
            <GameItem name="Retro Bowl" image="/games/retro-bowl/logo.png" slugName="retro-bowl"></GameItem>
            <GameItem name="Slope" image="/games/slope/logo.png" slugName="slope"></GameItem>
            <GameItem name="Super Mario 64" image="/games/sm64/logo.png" slugName="sm64"></GameItem>
            <GameItem name="Solitaire" image="/games/solitaire/logo.png" slugName="solitaire"></GameItem>
            <GameItem name="Superhot" image="/games/superhot/logo.png" slugName="superhot"></GameItem>
            <GameItem name="There is No Game" image="/games/there-is-no-game/logo.png" slugName="there-is-no-game"></GameItem>
            <GameItem name="Ultima 6" image="/games/ul6/logo.png" slugName="ul6"></GameItem>
            <GameItem name="Vex 3" image="/games/vex3/logo.png" slugName="vex3"></GameItem>
            <GameItem name="Vex 4" image="/games/vex4/logo.png" slugName="vex4"></GameItem>
            <GameItem name="Vex 5" image="/games/vex5/logo.png" slugName="vex5"></GameItem>
            <GameItem name="Vex 6" image="/games/vex6/logo.png" slugName="vex6"></GameItem>
            <GameItem name="World's Hardest Game" image="/games/worlds-hardest-game/logo.png" slugName="worlds-hardest-game"></GameItem>
            <GameItem name="World's Hardest Game 2" image="/games/worlds-hardest-game-2/logo.png" slugName="worlds-hardest-game-2"></GameItem>
            <GameItem name="You are Bezos" image="/games/you-are-bezos/logo.png" slugName="you-are-bezos"></GameItem>
        </div>
</Layout>

<style>
  
.grid {
    color: #fff;
    margin-top: -10px;
    height: max-content;
    width: calc(100% - 60px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 20px;
}
  
@media only screen and (max-width: 973px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
    }
}

@media only screen and (max-width: 467px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
</style>