---
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <ViewTransitions />
    <script>
      let currentLang = localStorage.getItem("alu__selectedLanguage");
      if (currentLang) {
        try {
          let parsed = JSON.parse(currentLang).value;
          switch (parsed) {
            case "en":
              window.location.href = "/en/";
              break;
            case "jp":
              window.location.href = "/jp/";
              break;
            default:
              window.location.href = "/en/";
              break;
          }
        } catch {
          localStorage.clear();
          window.location.reload();
        }
      } else {
        if (navigator.language.includes("ja")) {
          localStorage.setItem("alu__selectedLanguage", JSON.stringify({ value: "jp" }));
          Astro.redirect("/jp/");
        } else {
          localStorage.setItem("alu__selectedLanguage", JSON.stringify({ value: "en" }));
          Astro.redirect("/en/");
        }
      }
    </script>
  </head>
  <body></body>
</html>
