---
import { ViewTransitions } from "astro:transitions";

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <ViewTransitions />
    <script>
        switch (localStorage.getItem("alu__selectedLanguage")) {
            case "English":
                window.location.href = "/en/";
                break;
            case "日本語":
                window.location.href = "/jp/";
                break;
            default:
                window.location.href = "/en/";
                break;
        }
    </script>
  </head>
  <body></body>
</html>
