---
import Switch from "../components/Switch.astro";
import SettingsTablist from "../components/SettingsTablist.astro";
import Layout from "../layouts/Layout.astro";
import ThemeLoader from "../components/ThemeLoader.astro";

---

<Layout title="Settings | Alu">
    <h1 class="title-text">Settings</h1>
    <SettingsTablist />
</Layout>

<style>
    h1 {
        font-size: 40px;
    }
</style>