.proxies-button {
    color: #D8DEE9;
    text-decoration: none;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border: 5px solid white;
    -webkit-transition: 400ms ease-out;
    transition: 400ms ease-out;
    border-radius: 30px;
  }
  .proxies-button:hover {
    background-color: #393b3e;
    color: rgb(228, 228, 228);
  }
  
  .get-involved {
    width: 100%;
  }
  
  .gi-title {
    text-align: center;
    color: #D8DEE9;
  }
  
  .gi-card {
    width: 80%;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #576977;
    border-radius: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .donate {
    color: #D8DEE9;
    padding-left: 20px;
    padding-right: 20px;
  }
.buttons {
  display: flex;
}
.buttons > a {
  padding-left: 50px;
  padding-right: 50px;
}
