.toggle-setting {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .toggle-text {
    color: #D8DEE9;
  }
  .switch {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    -webkit-box-shadow: 0 0 1px #92aec9;
            box-shadow: 0 0 1px #92aec9;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .label-setting {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .label-text {
    color: #D8DEE9;
    text-align: center;
  }
  
  input#tab-cloak {
    text-align: center;
  }
  
  #icn-change {
    text-align: center;
  }
  
  .settings-btn {
    background-color: #303643;
    color: #D8DEE9;
    width: 200px;
  }
  
  .rounding {
    border-radius: 10px;
  }
  
  .no-bdr {
    border: none;
  }
  
  .btn-break {
    height: 3px;
  }
  
  .btn-break-large {
    height: 10px;
  }
  
  .additional-notes-text {
    color: #D8DEE9;
    text-align: center;
  }
  
  .reset-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .popular-cloaks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .popular-cloaks-header {
    color: #D8DEE9;
  }
  
  .theme-toggle-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
  }
  .theme-toggle-wrapper > label {
    color: rgb(227, 227, 227);
  }
#themes {
  height: 20px;
}
.caret-icn {
  z-index: 200;
  margin-left: 60px;
}
.item-wrapper {
  height: 0px;
  background-color: #303643;
  transition: 250ms ease-in-out;
}
.item {
  margin-bottom: 20px;
  display: none;
  height: 40px;
  opacity: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 250ms ease-in-out;
  z-index: 100;
}
.item:hover {
  background-color: #2c3038;
}