<div id="footer">
    <div class="footerflex">
        <div class="footerbrand">
            <p class="footerlist-heading"><a href="/">Alu</a></p>
            <p>Made with ❤️ by <a target="_blank" href="https://wearr.dev">wearr</a></p>
        </div>
    <div class="footerlist">
        <p class="footerlist-heading">Services</p>
        <ul>
            <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/titaniumnetwork-dev/Ultraviolet">Ultraviolet</a></li>
        </ul>
    </div>
    <div class="footerlist">
        <p class="footerlist-heading">Socials</p>
        <ul>
            <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/wearrrrr/AlusUnblocker">GitHub</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="#">Discord</a></li>
        </ul>
    </div>
</div>
<p class="copyright">Alu Project &copy; 2024</p>
</div>
</div>

<style>
#footer {
    padding-top: 20vh;
    background-image: url("/img/purplewaves.svg");
    background-repeat: no-repeat;
    background-size: 100vw auto;
    width: 100%;
}

.footerflex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footersocials {
    text-align: center;
}

.footerflex > div {
    margin: 25px 50px;
}

@media only screen and (max-width: 600px) {
    .footerflex > div {
        margin: 15px 25px;
    }
}

@media only screen and (max-width: 380px) {
    .footerflex > div {
        margin: 5px 10px;
    }
}

.footerbrand div a {
    font-family: 'Varela Round', sans-serif;
    color: #fff !important;
    font-size: 20px;
    font-weight: bold;
}

.footerbrand p {
    font-family: 'Varela Round', sans-serif;
    color: #fff;
}

.footerbrand a {
    font-family: 'Varela Round', sans-serif;
    color: #fff;
}

.footerlist-heading {
    font-weight: bold;
    font-size: 20px;
}

.footerlist ul {
    list-style: none;
    padding: 0;
}

.footerlist ul > li {
    padding: 2px;
}

.footerlist ul > li > a {
    color: #fff;
}

.footerlist > * {
    font-family: 'Varela Round', sans-serif;
    color: #fff;
}

.footersocials {
    font-size: 20px;
}

.footersocials a {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    padding: 6px;
    margin: 0 5px;
    border-radius: 50%;
}

.copyright {
    color: #D8DEE9;
    text-align: center;
}
</style>