---
const { name, image, slugName } = Astro.props;
---

<div class="game">
  <a href=`/games/${slugName || name}`>
    <img class="game-img" src={image} alt="" />
  </a>
  <p class="game-title">{name}</p>
</div>

<style>
  .game {
    border: 2px solid var(--text-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
  }
  .game-img {
    width: 128px;
    height: 128px;
  }

  .game-title {
    color: var(--text-color);
    text-align: center;
    max-width: 125px;
  }
</style>
