<div class="top-header">
    <div id="title-background" class="title-background">
        <div class="left">
            <a href="/" class="header-item"> Alu</a>
        </div>
        <div class="right">
            <a href="/games/" class="header-item"><i class="fa-solid fa-gamepad-modern"></i> Games</a>
            <a href="/settings/" class="header-item"><i class="fa-solid fa-gear"></i> Settings</a>
        </div>
    </div>
</div>

<style>
.top-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    transition: 250ms ease-in;
}

.title-background {
    background-color: #166e85;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 40px;
    height: 70px;
    width: 100%;
    font-size: 1.05rem;
    list-style-type: none;
    border: none;
    z-index: 10;
    transition: 250ms ease-in;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-item {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    transition: 250ms ease-in-out;
}

.header-item:hover {
    color: #b7bcc6;
}

@media only screen and (max-width: 1003px) {
    .title-background {
        width: 500%;
    }
}
</style>