---
import Dropdown from "./Dropdown.astro";
import Input from "./Input.astro";
---

<div class="content-hidden">
    <div id="content-setting-tab-proxy">
        <h1 style="color: white;">Proxy</h1>
        <div class="settings-container">
          <div class="setting__selected-proxy">
            <p class="setting-label">Selected Proxy</p>
            <Dropdown buttonNameDefault="Auto" dropdownList={["Auto", "Ultraviolet", "Dynamic"]}, id="dropdown__selected-proxy"></Dropdown>
          </div>
          <div class="setting__search-engine">
            <p class="setting-label">Search Engine</p>
            <Dropdown buttonNameDefault="Google" dropdownList={["Google", "Bing", "Brave", "Searx"]}, id="dropdown__search-engine"></Dropdown>
          </div>
          <div class="setting__open_with">
            <p class="setting-label">Open With</p>
            <Dropdown buttonNameDefault="Embed" dropdownList={["Embed", "About:Blank", "New Tab"]}, id="dropdown__open-with"></Dropdown>
          </div>
          <div class="setting__bare-url">
            <p class="setting-label">Bare URL</p>
            <Input inputName="bare-url" defaultTextContent="/bare/" />
          </div>
        </div>
    </div>
    <div id="content-setting-tab-customization">
        <h1 style="color: white;">Customization</h1>
        <p style="color: white;">Customization settings</p>
    </div>
    <div id="content-setting-tab-cloaking">
        <h1 style="color: white;">Cloaking</h1>
        <p style="color: white;">Cloaking settings</p>
    </div>
    <div id="content-setting-tab-credits">
        <h1 style="color: white;">Credits</h1>
        <p style="color: white;">Credits settings</p>
    </div>
</div>

<div class="popup">
    <div class="tabs">
          <input type="radio" id="setting-tab-proxy" class="setting-tab" name="tab" checked="true">        
        <label for="setting-tab-proxy">Proxy</label>
          <input type="radio" id="setting-tab-customization" class="setting-tab" name="tab">
        <label for="setting-tab-customization">Customization</label>
          <input type="radio" id="setting-tab-cloaking" class="setting-tab" name="tab">
        <label for="setting-tab-cloaking">Cloaking</label>
          <input type="radio" id="setting-tab-credits" class="setting-tab" name="tab">
        <label for="setting-tab-credits">Credits</label>
        <div class="marker">
           <div id="top"></div>
           <div id="bottom"></div>
        </div>
    </div>
    <div id="current-content">
        
    </div>
  </div>
  <script is:inline>
    document.addEventListener("astro:before-swap", () => {
      window.currentlySelectedTab = ""
      document.removeEventListener('setting-tabChange', determineListener)
      document.removeEventListener('setting-tabLoad', setLocalStorageItem)
    })
    window.currentlySelectedTab;
    window.loadedContentStorage = {}

    Array.from(document.getElementsByClassName('setting-tab')).forEach((tab)=>{
      let contentToLoad = document.getElementById('content-' + tab.id)
      if (contentToLoad) {
        window.loadedContentStorage[tab.id] = contentToLoad.innerHTML
        contentToLoad.remove()
      }

      tab.addEventListener('click', (event) => {
        loadContent(event.target.id)
      })
    })

    function loadContent(tabID) {
      if (window.currentlySelectedTab == tabID) return
        else window.currentlySelectedTab = tabID
        let currentContent = document.getElementById('current-content')
        if (currentContent) {
          currentContent.style.opacity = '0'
          setTimeout(() => {
            currentContent.innerHTML = window.loadedContentStorage[tabID]
            currentContent.style.opacity = '1'
            document.dispatchEvent(new CustomEvent('setting-tabChange', {detail: tabID }))
            document.dispatchEvent(new CustomEvent('setting-tabLoad', {detail: tabID }))
          }, 250);
        }
    }

    function addDropdownListener() {
      let dropdown_toggles = document.getElementsByClassName('dropdown-toggle')
      Array.from(dropdown_toggles).forEach((toggle) => {
        toggle.addEventListener('click', () => {
          let dropdown = document.getElementById(toggle.id + "-menu")
          if (dropdown) {
            if (dropdown.style.maxHeight == '0px' || dropdown.style.maxHeight == '') {
              dropdown.style.maxHeight = dropdown.scrollHeight + 'px';
              toggle.style.borderRadius = '10px 10px 0 0';
            } else {
              dropdown.style.maxHeight = '0px';
              setTimeout(() => {
                toggle.style.borderRadius = '10px';
              }, 300);
            }
          }
        })
      })
    }

    function determineListener(event) {
      if (event.detail == "setting-tab-proxy") {
        addDropdownListener()
      }
    }

    function closeDropdown(dropdownID) {
      let dropdown = document.getElementById(dropdownID)
      if (dropdown) {
        dropdown.style.maxHeight = '0px';
        setTimeout(() => {
          let dropdown_toggle = document.getElementById(dropdownID.replace('-menu', ''));
          dropdown_toggle.style.borderRadius = '10px';
        }, 300);
      }
    }

    function applySavedLocalStorage(localStorageItem, dropdownID) {
      if (localStorage.getItem(localStorageItem)) {
        let dropdown_toggle = document.getElementById(dropdownID);
        if (dropdown_toggle) {
          dropdown_toggle.innerText = localStorage.getItem(localStorageItem).charAt(0).toUpperCase() + localStorage.getItem(localStorageItem).slice(1)
        }
      }
    }

    function applyDropdownEventListeners(item, dropdownID, localStorageItem) {
      Array.from(item.children).forEach((item) => {
          item.addEventListener('click', () => {
            localStorage.setItem(localStorageItem, item.dataset.setting)
            applySavedLocalStorage(localStorageItem, dropdownID)
            closeDropdown(item.parentElement.id);
          })
        })
    }

    document.addEventListener('setting-tabChange', determineListener)

    loadContent('setting-tab-proxy')

    function setupSettings(event) {
      if (event.detail == "setting-tab-proxy") {
        applySavedLocalStorage('selectedProxy', 'dropdown__selected-proxy');
        applySavedLocalStorage('selectedSearchEngine', 'dropdown__search-engine');
        applySavedLocalStorage("selectedOpenWith", 'dropdown__open-with');
        let selectedProxyDropdown = document.getElementById('dropdown__selected-proxy-menu')
        let searchEngineDropdown = document.getElementById('dropdown__search-engine-menu')
        let openWithDropdown = document.getElementById('dropdown__open-with-menu')
        let bareUrlInput = document.getElementById('bare-url-input')
        bareUrlInput.addEventListener('change', () => {
          localStorage.setItem('bareUrl', bareUrlInput.value)
        })
        applyDropdownEventListeners(searchEngineDropdown, 'dropdown__search-engine', 'selectedSearchEngine');
        applyDropdownEventListeners(selectedProxyDropdown, 'dropdown__selected-proxy', 'selectedProxy');
        applyDropdownEventListeners(openWithDropdown, 'dropdown__open-with', 'selectedOpenWith');
        if (localStorage.getItem('bareUrl')) {
          bareUrlInput.value = localStorage.getItem('bareUrl')
        } else {
          bareUrlInput.value = '/bare/'
        }
        
        }
    }

    document.addEventListener('setting-tabLoad', setupSettings)
</script>
<style>
.content-hidden {
    display: none;
}
#current-content {
    transition: opacity 250ms ease-in-out;
    margin-left: 20px;
}
.settings-container {
    display: flex;
    gap: 20px;
}
.setting-label {
  color: white;
  font-size: 18px;
}
label {
  font-size: 24px;
  font-weight: 700; 
  cursor: pointer; 
  color: #d8d8d8; 
  opacity: .4; 
  transition: opacity .4s ease-in-out;
  display: block; 
  width: calc(100% - 48px) ;
  text-align: right; 
  z-index: 100; 
  user-select: none;
  text-align: start;
  margin-left: 20px;
}
input[type="radio"]{
  display: none;
  width: 0;
}
label:hover, input[type="radio"]:checked+label {
  opacity: 1; 
}
.popup{
  width: 1000px;
  height: 80%;
  min-height: 400px; 
  max-height: 400px; 
  border-radius: 48px;
  box-sizing: border-box; 
  border: 16px solid #2b2b2b;
  background-color: #1b1b1b;
  overflow: hidden;
  box-shadow: 16px 16px 48px #2e364330;
  display: flex;
  align-self: center;
}
.tabs{
  width: 100%;
  max-width: 240px;
  height: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: space-around; 
  position: relative;
  gap: 25px
}
.marker{
  position: absolute; 
  width: 100%;
  height: 200%;
  display: flex; 
  flex-direction: column;
  top: calc(-100% );
  left: 0;
  transition: transform .2s ease-in-out; 
}
.marker #bottom, .marker #top{
  background-color: #383838;
  box-shadow: 32px 32px 48px #2e364315; 
}
.marker #top{
  height: calc(50%);
  margin-bottom: auto; 
  border-radius: 0 0 32px 0; 
}
.marker #bottom{
  height: calc(50% - 72px);
  border-radius: 0 32px 0 0; 
}
#setting-tab-proxy:checked ~ .marker{transform: translateY(0%)}
#setting-tab-customization:checked ~ .marker{transform: translateY(13.5%)}
#setting-tab-cloaking:checked ~ .marker{transform: translateY(27%)}
#setting-tab-credits:checked ~ .marker{transform: translateY(40.5%)}
</style>