---
import Layout from "../../layouts/Layout.astro";
import games from "../../json/games.json";
import GameItem from "@components/GameItem.astro";

import { STATIC_PATHS, i18n } from "@i18n/utils";
const t = i18n.inferLangUseTranslations(Astro.url);

export function getStaticPaths() {
  return STATIC_PATHS;
}
---

<Layout title={t("pages.games")}>
  <h1 class="title-text">{t("games.title")}</h1>
  <main id="main-content" class="grid">
    {
      Object.keys(games).map((key) => {
        const game = (games as any)[key];
        return <GameItem name={game.name} image={game.image} slugName={game.slug} />;
      })
    }
  </main>
</Layout>

<style>
  .grid {
    color: var(--text-color);
    margin-top: -10px;
    height: max-content;
    width: calc(100% - 60px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 20px;
  }

  @media only screen and (max-width: 973px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
      padding: 0;
    }
  }

  @media only screen and (max-width: 467px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
