---
import SettingsTablist from "@components/SettingsTablist.astro";
import Layout from "../../layouts/Layout.astro";

import { STATIC_PATHS, i18n } from "@i18n/utils";
const t = i18n.inferLangUseTranslations(Astro.url);

export function getStaticPaths() {
  return STATIC_PATHS;
}
---

<Layout title={t("pages.settings")}>
  <h1 class="title-text">Settings</h1>
  <SettingsTablist />
</Layout>

<style>
  h1 {
    font-size: 40px;
  }
</style>
