@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  background-color: #3B4252;
  max-width: 100vw;
}

@media only screen and (max-width: 1269px) {
  .header-item {
    display: none !important;
  }
  .mobile-toggle {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media only screen and (min-width: 1269px) {
  .mobile-header {
    height: 0%;
  }
}

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  height: 90px;
  width: 21%;
  color: #D8DEE9;
  background-color: #81A1C1;
  font-size: 1.3rem;
  list-style-type: none;
  border: none !important;
  z-index: 100;
}

.title {
  color: #D8DEE9;
  margin-left: 3rem;
  text-decoration: none;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.title:hover {
  font-size: 1.11em;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1rem;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  list-style-type: none;
  gap: 3rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #81A1C1;
  padding: 2%;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-item {
  color: #D8DEE9;
  text-decoration: none;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

.header-item:hover {
  font-size: 1.07em;
}

/* mobile support moment*/
.mobile-toggle {
  display: none;
  color: #D8DEE9;
  text-decoration: none;
  -webkit-transition: 750ms ease-in-out;
  transition: 750ms ease-in-out;
}

.mobile-toggle-disable {
  color: #D8DEE9;
  text-decoration: none;
  position: absolute;
  top: -50%;
  -webkit-transition: 750ms ease-in-out;
  transition: 750ms ease-in-out;
}

.mobile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  -webkit-transition: max-height 750ms ease-in-out;
  transition: max-height 750ms ease-in-out;
  width: 100%;
  max-height: 0vh;
  height: 50vh;
  background-color: #81A1C1;
  overflow: hidden;
  overflow-y: scroll;
  gap: 0.8rem;
}

.mobile-header::-webkit-scrollbar {
  display: none;
}

.mobile-nav-header-item {
  color: #D8DEE9;
  font-size: 1.4em;
  text-decoration: none;
  -webkit-transition: 750ms ease-in-out;
  transition: 750ms ease-in-out;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fade-in {
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.title-text {
  color: #D8DEE9;
  text-align: center;
}

.subtitle-text {
  text-align: center;
  color: white;
}

.button-container {
  overflow: hidden;
  background: #000;
  color: #fff;
  height: 0;
  padding: 0 18px;
  width: 100px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.proxies-button {
  color: #D8DEE9;
  text-decoration: none;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border: 5px solid white;
  -webkit-transition: 400ms ease-out;
  transition: 400ms ease-out;
  border-radius: 30px;
}

.proxies-button:hover {
  background-color: #D8DEE9;
  color: #3B4252;
}

.mid-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #81A1C1;
  width: 90%;
  border-radius: 1.5rem;
  padding-left: 20px;
  padding-right: 20px;
  top: 4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mid-content-title {
  font-size: 1.5em;
  color: #D8DEE9;
}

.middle-content {
  font-size: 1rem;
  text-align: center;
  color: #D8DEE9;
}
.options {
  color: white;
  list-style: none;
  text-align: center;
}

#footer {
  -webkit-transform: translateY(140px);
          transform: translateY(140px);
  padding-top: 20vw;
  background-image: url("/img/waves.svg");
  background-repeat: no-repeat;
  background-size: 100vw auto;
}

@media only screen and (max-width: 800px) {
  #footer {
    display: none;
  }
}

.footerflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footersocials {
  text-align: center;
}

.footerflex > div {
  margin: 25px 50px;
}

@media only screen and (max-width: 600px) {
  .footerflex > div {
    margin: 15px 25px;
  }
}

@media only screen and (max-width: 380px) {
  .footerflex > div {
    margin: 5px 10px;
  }
}

.footerbrand h3 a {
  font-family: 'Varela Round', sans-serif;
  color: #fff !important;
}

.footerbrand h3 a:hover {
  text-decoration: underline !important;
}

.footerbrand p {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  margin-top: 20px;
}

.footerbrand a {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
}

.footerlist ul {
  list-style: none;
  padding: 0;
}

.footerlist ul > li {
  padding: 2px;
}

.footerlist ul > li > a {
  color: #fff;
}

.footerlist > * {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
}

.footersocials {
  font-size: 20px;
}

.footersocials a {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 6px;
  margin: 0 5px;
  border-radius: 50%;
}
.copyright {
  color: #fff;
  text-align: center;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #D8DEE9;
  color: #3B4252;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -200%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: -30%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #D8DEE9 transparent transparent transparent;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}