---

    const presetCloaks = [
        {"cloakTitle": "Alu", "favicon": "/favicon.png"},
        {"cloakTitle": "Google", "favicon": "https://t1.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://google.com&size=128"},
        {"cloakTitle": "Instructure", "favicon": "https://du11hjcvx0uqb.cloudfront.net/dist/images/favicon-e10d657a73.ico"},
        {"cloakTitle": "Google Classroom", "favicon": "https://ssl.gstatic.com/classroom/ic_product_classroom_144.png"},
        {"cloakTitle": "Classlink", "favicon": "https://cdn.classlink.com/production/launchpad/resources/images/favicon/favicon-32x32.png"},
        {"cloakTitle": "Google Drive", "favicon": "https://ssl.gstatic.com/docs/doclist/images/drive_2022q3_32dp.png"},
        {"cloakTitle": "Schoology", "favicon": "https://asset-cdn.schoology.com/sites/all/themes/schoology_theme/favicon.ico"}
    ]

---

<div class="settings-container">
    <div id="cloak-list">
        {presetCloaks.map((cloak: any) => {
            return <div class="cloak-item"><img class="cloak-image" src={cloak.favicon} alt={cloak.cloakTitle}/></div>
        })}
    </div>
</div>

<style>
    #cloak-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }
    .cloak-item {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        padding: 15px;
        background-color: var(--dropdown-background-color);
        border: 3px solid var(--accent-color);
        cursor: pointer;
    }
    .cloak-image {
        width: 100%;
        height: 100%;
    }
</style>