---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="settings-container">
  <div class="credits-container">
    <p class="credit-item">
      {t("ultraviolet")} - <a href="https://titaniumnetwork.org/">Titanium Network</a>
    </p>
    <p class="credit-item">
      {t("settings.credits.japaneseTranslations")} - <a href="https://wearr.dev">wearr</a>
    </p>
    <p class="credit-item">
      {t("settings.credits.mochaandmacchiatothemes")} - <a href="">Catppuccin</a>
    </p>
  </div>
</div>

<style>
  .credit-item {
    color: var(--text-color);
    font-size: 18px;
  }
  .credit-item > a {
    color: var(--text-color);
    font-weight: bold;
  }
</style>
