---
import { i18n } from "@i18n/utils";
const t = i18n.inferLangUseTranslations(Astro.url);
---

<div class="settings-container">
  <div class="credits-container">
    <p class="credit-item">
      {t("ultraviolet")} - <a
        target="_blank"
        rel="noreferrer noopener"
        href="https://titaniumnetwork.org/">Titanium Network</a
      >
    </p>
    <p class="credit-item">
      {t("settings.credits.japaneseTranslations")} - <a
        target="_blank"
        rel="noreferrer noopener"
        href="https://wearr.dev">wearr</a
      >
    </p>
    <p class="credit-item">
      {t("settings.credits.mochaandmacchiatothemes")} - <a
        target="_blank"
        rel="noreferrer noopener"
        href="https://github.com/catppuccin/catppuccin">Catppuccin</a
      >
    </p>
    <p class="credit-item">
      Rosé Pine Theme - <a
        target="_blank"
        rel="noreferrer noopener"
        href="https://rosepinetheme.com/">Rosé Pine</a
      >
    </p>
  </div>
</div>

<style>
  .credit-item {
    color: var(--text-color);
    font-size: 18px;
  }
  .credit-item > a {
    color: var(--text-color);
    font-weight: bold;
  }
</style>
