---
import Link from "@components/UI/Link.astro";
import { i18n } from "@i18n/utils";
const t = i18n.inferLangUseTranslations(Astro.url);
---

<div class="settings-container">
  <div class="credits-container">
    <p class="credit-item">
      {t("ultraviolet")} - <Link href="https://titaniumnetwork.org/" newTab>Titanium Network</Link>
    </p>
    <p class="credit-item">
      {t("settings.credits.jpTranslations")} - <Link href="https://wearr.dev" newTab>wearr</Link>
    </p>
    <p class="credit-item">
      {t("settings.credits.ruTranslations")} - <Link href="https://3kh0.net" newTab>Echo</Link>
    </p>
    <p class="credit-item">
      {t("settings.credits.zhTranslations")} - <Link href="https://3kh0.net" newTab>Echo</Link>
    </p>
    <p class="credit-item">
      French Translations - <Link href="https://github.com/notboeing747" newTab>notboeing747</Link>
    </p>
    <!-- todo: finish localization for this page -->
    <p class="credit-item">
      {t("settings.credits.mochaandmacchiatothemes")} - <Link href="https://github.com/catppuccin/catppuccin" newTab>Catppuccin</Link>
    </p>
    <p class="credit-item">
      Wisp Server - <Link newTab href="https://github.com/MercuryWorkshop/wisp-server-node">Mercury Workshop</Link>
    </p>
    <p class="credit-item">
      Rosé Pine Theme - <Link href="https://rosepinetheme.com/" newTab>Rosé Pine</Link>
    </p>
  </div>
</div>

<style>
  .credit-item {
    font-size: 18px;
  }
</style>
