---
import { i18n } from "@i18n/utils";
const lang = i18n.getLangFromUrl(Astro.url);
const t = i18n.useTranslations(lang);
---

<nav class="top-header">
  <div id="title-background" class="title-background">
    <div class="left">
      <a href={`/${lang}/`} class="header-item">{t("nav.brand")}</a>
    </div>
    <div class="right">
      <a href={`/${lang}/games/`} class="header-item">{t("nav.games")}</a>
      <a href={`/${lang}/settings/`} class="header-item">{t("nav.settings")}</a>
    </div>
  </div>
</nav>

<style>
  .top-header {
    display: flex;
    box-sizing: border-box;
    transition: 250ms ease-in;
  }

  .title-background {
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 40px;
    height: 70px;
    width: 100%;
    font-size: 1.05rem;
    list-style-type: none;
    border: none;
    z-index: 10;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: -2px 5px 10px 0px var(--accent-color);
  }

  .left,
  .right {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .header-item {
    color: var(--text-color);
    text-decoration: none;
    font-size: 22px;
    transition: 250ms ease-in-out;
  }

  .header-item:hover {
    color: var(--text-color-accent);
  }
</style>
